extends layout
block content
      .maincontent
          form(method="post" action="/searchclasses")
              input(name="search", type="text", Placeholder="Search For a class...") 
              button.button(type="submit") Search
      
        
          h2 beginners classes
          
            .grid-container
              each row in res2
                .item
                  label Class name: 
                  h2.itemtitle #{row.className}
                  label Sanskrit name: 
                  h2.itemtitle #{row.classDate}
                  a.button(href='#{row.Link}') Instructions
                  a.button(href='/editclass/#{row.Id}') Edit
                  a.button(href='/deleteclass/#{row.Id}') Delete
                  
