extends layout
block content
      .maincontent
          form(method="post" action="/searchclasses")
              input(name="search", type="text", Placeholder="Search For a class...") 
              button.button(type="submit") Search
      
        
          h2 beginners classes
          
            .grid-container
              each row in res1
                .item
                  label Class name: 
                  h2.itemtitle #{row.className}
                  label Class date: 
                  h2.itemtitle #{row.classDate}

                  a.button(href="/class/#{row.classId}") Show
                  a.button(href='/editclass/#{row.classId}') Edit
                  a.button(href='/deleteclass/#{row.classId}') Delete
                  
