extends layout
block content
      .maincontent

        
            .grid-container
              each row in res1
                .item
                  h1.itemtitle #{row.className}
                  label date: 
                  p.itemp #{row.classDate}
                  label venue: 
                  p.itemp #{row.classVenue}
                  label time: 
                  p.itemp #{row.classTime}
                  label Comments: 
                  p.itemp #{row.classComments}
                  label price: 
                  p.itemp #{row.classPrice}
                  a.button(href="/cart/#{row.classId}") Add to cart
                  