extends layout
block content
      
    .maincontent
        .formHold
          h1.itemtitle Edit this user
          
          each row in res1
            form(method = "post")
              fieldset
                label(for= "newfirstname") first name:
                input(name= "newfirstname", type = "text", value = "#{row.userFirstName}") 
                label(for= "newlastname") last name:
                input(name= "newlastname", type = "text", value = "#{row.userLastName}") 
                label(for= "newdatejoined") date joined:
                input(name= "newdatejoined", type = "date", value = "#{row.userDateJoined}") 
                label(for= "newcomments") comments:
                input(name= "newcomments", type = "text", value = "#{row.userComments}") 
                label(for= "newemail") email:
                input(name= "newemail", type = "email", value = "#{row.userEmail}")
                label(for= "newpassword") password:
                input(name= "newpassword", type = "password", value = "#{row.userPassword}") 
                label(for= "role") role:
                input(type='radio', name='newrole', value='student', checked = "#{row.userRole}" == "student")
                |  student
                input(type='radio', name='newrole', value='teacher',checked = "#{row.userRole}" == "teacher")
                |  teacher
                br
                label(for= "active") active:
                input(type='radio', name='newactive', value='true', checked = "#{row.userActive}" == "true")
                |  active
                input(type='radio', name='newactive', value='false' checked = "#{row.userActive}" == "false")
                |  inactive
                button.button(type="submit") Update
                //https://stackoverflow.com/questions/13624650/jade-radio-button-checked-condition
                //userFirstName= "' + req.body.newfirstname + '" , 
                //userLastName = "' + req.body.newlastname + '", 
                //userDateJoined = "' + req.body.newdatejoined + '", 
                //userComments = "' + req.body.newcomments + '", 
                //userEmail = "' + req.body.newemail + '", 
                //userPassword = "' + req.body.newpassword + '", 
                //userRole = "' + req.body.newrole + '", 
                //userActive = "'+ req.body.newactive +'"