extends layout
block content
      
    .maincontent
        .formHold
          h1.itemtitle Edit this class
          
          each row in res1
            form(method = "post")
              fieldset
                label(for= "newname") Name:
                input(name= "newname", type = "text", value = "#{row.className}", required) 
                label(for= "newdate") Date:"#{row.classDate}"
                input(name= "newdate", type = "date", value = "{row.classDate}", required) 
                label(for= "newvenue") Venue:
                input(name= "newvenue", type = "text", value = "#{row.classVenue}", required) 
                label(for= "newtime") Time:
                input(name= "newtime", type = "time", value = "#{row.classTime}", required) 
                label(for= "newprice") Price:
                input(name= "newprice", type = "text", value = "#{row.classPrice}", required)
                label(for= "newcomments") Comments:
                input(name= "newcomments", type = "text", value = "#{row.classComments}", required) 
                label(for= "newlink") Link:
                input(name= "newlink", type = "url", value = "#{row.Link}", required) 
                button.button(type="submit") Update
                
               // className= "' + req.body.newname + '" 
               //, classDate = "' + req.body.newdate + '", 
               //classVenue = "' + req.body.newvenue + '", 
               //classTime = "' + req.body.newtime + '",
               //classPrice = "' + req.body.newprice + '", 
               //classComments = "' + req.body.newcomments + '", 
               //Link = "' + req.body.newlink +