extends layout
block content
      .maincontent
          form(method="post" action="/searchusers")
              input(name="search", type="text", Placeholder="Search For a student...") 
              button.button(type="submit") Search
      
        
          h2 beginners classes
          
            .grid-container
              each row in res1
                .item
                 
                  h2.itemtitle #{row.userFirstName}
                   
                  h2.itemtitle #{row.userLastName}
                 

                  a.button(href="/student/#{row.userId}") Show
                  a.button(href='/editstudent/#{row.userId}') Edit
                  a.button(href='/deletestudent/#{row.userId}') Delete