extends layout
block content
      .maincontent

        
            .grid-container
              each row in res1
                
                .item
                  label order id: 
                  p.itemp #{row.orderId}
                  label order Status: 
                  p.itemp #{row.orderStatus}
                  label order Total: 
                  p.itemp #{row.orderTotal}
                  label class: 
                  p.itemp #{row.className}
                  a.button(href='/editstudentpayments/#{row.orderId}') Edit

                  